header {
  background: #65e4a3;
}

.header-container {
  height: 15vh;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  width: 90%;
  background: #65e4a3;
  margin-inline: auto;

  .logo-container {
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;

    .logo-images-holder {
      height: 34px;
      width: 26px;

      img {
        width: 100%;
      }
    }

    .logo-text {
      font-family: "Manrope";
      font-style: normal;
      font-weight: 700;
      font-size: 43.25px;
      line-height: 34px;
      display: flex;
      align-items: center;
      color: #0a2640;
      margin-left: 0.5rem;
    }
  }

  .nav-button {
    font-family: "Manrope";
    border: solid 1px #565656;
    border-radius: 2rem;
    padding: 0.3rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #565656;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: #565656;
      color: white;
    }
  }
  @media screen and (max-width: 430px) {
    height: auto;
    width: 100%;
  }
}
